*{
    padding: 0px;
    margin: 0px;
}

.navbar1{
    background-color: rgba(0, 0, 0, 0.619);
    padding:  5px ;
    height: 80px;
   
}

.logo img{
    height: 40px;
}

.links{
    float: right;
    display: flex;
    margin-top: -30px;
}
.items a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.items i{
    color: orangered;
}
.cont i{
    color: white;
}